<header>
	<nav>
		<div class="logo">
			<img src="images/front/logo.png" alt="logo">
		</div>
		<div class="navigation">
			<ul>
				<li><a href="">Accueil</a></li>
				<li><a href="">L'entreprise</a></li>
				<li><a href="">Réalisation</a></li>
				<li><a href="">Compétences</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</div>
	</nav>
</header>
