{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	{% include 'partials/nav.html.twig' %}

	<section class="realisations">
		<div class="title title-realisation">
			<h2>Me contacter</h2>
		</div>
		<div class="separator separator-realisation">
			<div class="separator-left"></div>
			<div class="separator-right"></div>
		</div>
		<div class="contact">
			<div class="iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29248.310568706194!2d1.423962315992299!3d47.41844096106588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1696841165647!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="formulaire-contact">
				<div>
					{{ form_start(form_contact) }}
					{{ form_widget(form_contact) }}
					<button type="submit">Confirmer</button>
					{{ form_end(form_contact) }}
				</div>
			</div>
		</div>
	</section>




{% endblock %}
